<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>wallet.rdlab.club</title>
  <link href="/dist/main.css?<%=global.cache%>" rel="stylesheet">
</head>
<body class="bg-light">
  <h1><%=title%></h1>
  <script src="/dist/build.js?<%=global.cache%>"></script>
</body>
</html>
