node_modules

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Optional npm cache directory
.npm
.cache

# Optional REPL history
.node_repl_history
.node*

coin.config.js
coin.config.dev.js
db.config.js
